:root {
    --background-color: #fff;
    --post-background-color: #f3f3f3;
    --title-color: #333;
}   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    height: 100dvh;
}

main {
    display: grid;
    height: 100dvh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding: 40px;
}

.hidden {
    display: none;
}

.menu {
    z-index: 99;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: var(--background-color);

    & button {
        background-color: rgb(59, 183, 245);
        border: none;
        padding: 12px 24px;
        border-radius: 24px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

    & p {
        text-wrap: balance;
        max-width: 500px;
        text-align: center;
    }
}

.container {
    border-radius: 24px;
    background-color: var(--post-background-color);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;

    & .title {
        color: var(--title-color);
        margin-bottom: 16px;
    }
}

.post-container { 
    grid-area: 1 / 1 / 5 / 4; 
}
.stats-container { 
    grid-area: 1 / 4 / 3 / 6; 
}
.brands-container { 
    grid-area: 3 / 4 / 5 / 6; 
}
.text-container { 
    grid-area: 5 / 1 / 6 / 6; 
}